<section class="bg-[#FFEBEF] px-[16px] lg:px-[100px] py-10 md:py-24">
  <div class="flex flex-col justify-center items-center text-center">
    <h2 class="font-semibold text-[#B34962] text-3xl md:text-[46px]">
      You’ll also have access to all our services
    </h2>

    <p class="font-medium text-lg md:text-2xl text-[#00000099] mb-10 md:mb-20 max-w-full md:max-w-[789px]">
      From pregnancy to motherhood, we're here to provide guidance, support, and community
    </p>
  </div>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
    
    <!-- Pregnancy Tips -->
    <div class="bg-white rounded-[20px] border border-[#FFC5D0] flex flex-col justify-center items-center py-6">
      <div class="w-40 h-40 sm:w-52 sm:h-52 md:w-60 md:h-60">
        <img src="assets/pragnant-women-img.png" alt="" class="w-full h-full object-contain scale-x-[-1]" />
      </div>
      <h3 class="text-xl md:text-2xl xl:text-[32px] font-medium py-4 md:py-10">Pregnancy Tips</h3>
    </div>

    <!-- Chatbot Clinic -->
    <div class="bg-white rounded-[20px] border border-[#FFC5D0] flex flex-col justify-center items-center py-6">
      <div class="w-40 h-40 sm:w-52 sm:h-52 md:w-60 md:h-60">
        <img src="assets/chatbot.png" alt="" class="w-full h-full object-contain" />
      </div>
      <h3 class="text-xl md:text-2xl xl:text-[32px] font-medium py-4">Chatbot Clinic</h3>
    </div>

    <!-- Healthy Diet -->
    <div class="bg-white rounded-[20px] border border-[#FFC5D0] flex flex-col justify-center items-center py-6">
      <div class="w-40 h-40 sm:w-52 sm:h-52 md:w-60 md:h-60">
        <img src="assets/health-diet.png" alt="" class="w-full h-full object-contain" />
      </div>
      <h3 class="text-xl md:text-2xl xl:text-[32px] font-medium py-4">Healthy Diet</h3>
    </div>

    <!-- Mother’s Community -->
    <div class="bg-white rounded-[20px] border border-[#FFC5D0] flex flex-col py-5">
      <div class="w-40 sm:w-60 h-40 xl:h-auto xl:w-80 self-end pr-2">
        <img src="assets/mother’s-community.png" alt="" class="w-full h-full rounded-r-[20px]" />
      </div>
      <h3 class="text-xl md:text-2xl xl:text-[32px] font-medium self-start px-6 md:px-10 max-w-sm pt-5">Mother’s community</h3>
    </div>

    <!-- Father Section -->
    <div class="bg-white rounded-[20px] border border-[#FFC5D0] flex flex-col justify-center items-center py-6">
      <div class="w-40 h-40 sm:w-52 sm:h-52 md:w-60 md:h-60">
        <img src="assets/father-section.png" alt="" class="w-full h-full object-contain" />
      </div>
      <h3 class="text-xl md:text-2xl xl:text-[32px] font-medium py-4">Father Section</h3>
    </div>

    <!-- Medical Consultation -->
    <div class="bg-white rounded-[20px] border border-[#FFC5D0] flex flex-col justify-center items-center relative py-6">
      <div class="w-40 h-40 sm:w-52 sm:h-52 md:w-60 md:h-60">
        <img src="assets/medical-consultation.png" alt="" class="w-full h-full object-contain" />
      </div>
      <h3 class="text-xl md:text-2xl xl:text-[32px] font-medium self-start px-6 md:px-10 max-w-sm">Medical consultation</h3>
      <span
        class="absolute top-4 md:top-5 right-4 md:right-5 text-sm md:text-lg font-semibold text-[#53C2DBE5] border-2 border-[#bf949c] rounded-full h-10 w-10 md:h-12 md:w-12 flex justify-center items-center"
      >
        PRO
      </span>
    </div>

  </div>
</section>
