.pro-badge {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #b34962;
  border: 2px solid #bf949c;
  border-radius: 9999px;
}
