<div
  class="min-h-screen bg-gradient-to-b from-[#FFFFFF] to-[#FFC5D0] flex flex-col items-center justify-center py-10 px-20"
>
  <h2 class="font-semibold text-5xl text-[#B34962] mb-10 uppercase">
    GUIDE TO VITAMINS : MONTH {{ babyMonth }}
  </h2>

  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div class="flex flex-col items-center gap-6">
      <div class="flex justify-between gap-6">
        <div class="relative z-10 mx-6 w-72 h-72">
          <div
            class="absolute -inset-x-5 -inset-y-5 rounded-full border-2 border-[#B34962] bg-white"
          ></div>
          <div
            class="absolute -inset-x-1.5 -inset-y-3.5 rounded-full border-2 border-[#B34962]"
          ></div>
          <div
            class="w-72 h-72 rounded-full border-2 border-[#B34962] shadow-xl overflow-hidden relative z-10"
          >
            <img src="assets/feeding-time.jpg" alt="Baby" class="w-full h-full object-cover" />
          </div>
        </div>

        <div class="mt-20">
          <h3 class="font-semibold text-3xl uppercase">
            BABY: {{ babyName }} <br />
            (MONTH {{ babyMonth }})
          </h3>
        </div>
      </div>

      <div
        class="w-full bg-white/80 backdrop-blur-sm rounded-3xl border border-[#B34962] shadow-lg p-6 mt-6"
      >
        <div class="flex items-center gap-3 mb-5">
          <div class="flex-1 h-px bg-pink-200"></div>
          <h2 class="text-[#B34962] font-extrabold text-2xl tracking-widest uppercase">
            Daily Needs
          </h2>
          <div class="flex-1 h-px bg-pink-200"></div>
        </div>

        <div class="flex flex-col gap-4">
          @for (need of dailyNeeds; track $index) {
            <div class="flex items-center gap-4">
              <div class="w-12 h-12 flex items-center justify-center text-2xl">
                <img [src]="need.icon" alt="" />
              </div>
              <div class="text-lg">
                <span class="font-medium">{{ need.label }}: </span>
                <span class="text-[#B34962] font-bold">{{ need.value }}</span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="mt-20">
      <div
        class="relative bg-white/80 backdrop-blur-sm rounded-[20px] border border-[#B34962] shadow-lg p-6"
      >
        <h2
          class="absolute -top-8 left-1/2 -translate-x-1/2 w-max text-center text-[#B34962] font-extrabold text-2xl bg-white rounded-xl uppercase px-4"
        >
          REQUIRED VITAMINS <br />
          (Month {{ babyMonth }})
        </h2>

        <div class="relative mt-10">
          <div class="absolute top-0 bottom-0 left-1/2 w-px bg-gray-300 z-0"></div>

          <div
            class="grid grid-cols-2 bg-[#FFE2E7] text-center mb-2 p-4 rounded-[20px] relative z-10"
          >
            <span class="text-gray-700 font-extrabold uppercase tracking-wider text-xl"
              >Vitamin</span
            >
            <span class="text-gray-700 font-extrabold uppercase tracking-wider text-xl"
              >Importance</span
            >
          </div>

          <!-- BODY -->
          <div class="divide-y divide-gray-300">
            @for (v of vitamins; track $index) {
              <div class="grid grid-cols-2 py-4 px-4 hover:bg-pink-50 transition-colors">
                <!-- NAME -->
                <div class="flex flex-col justify-center">
                  <span class="font-medium text-lg text-gray-800 text-center">
                    {{ v.name }}
                  </span>

                  @if (v.note) {
                    <span class="text-xs text-gray-500 mt-1 text-center">
                      {{ v.note }}
                    </span>
                  }
                </div>

                <!-- IMPORTANCE -->
                <div class="flex items-center justify-center">
                  <span class="text-[#B34962] font-medium text-center">
                    {{ v.importance }}
                  </span>
                </div>
              </div>
            }
          </div>

          <!-- EMPTY STATE -->
          @if (vitamins.length === 0) {
            <div class="text-center text-gray-500 py-10">No vitamins data available</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
