<section
  class="px-4 md:px-16 lg:px-20 xl:px-0 xl:pl-24 pb-10 lg:pb-0 h-auto lg:h-[calc(100vh-80px)] grid grid-cols-12 relative overflow-hidden"
>
  <!-- Hero Image -->
  <div
    class="order-1 lg:order-2 lg:justify-self-end self-end col-span-12 lg:col-span-5 mx-auto mb-5 md:mb-10 lg:mb-0"
  >
    <img
      src="assets/pragnant-women-img.png"
      alt="pragnant-women-img"
      class="w-3xs md:w-md lg:w-full"
    />

  </div>

  <!-- Text -->
  <div class="order-2 lg:order-1 lg:text-left lg:self-center col-span-12 lg:col-span-7 text-center">
    <h1
      class="text-2xl md:text-4xl [@media(width:1280px)]:text-[58px] lg:text-6xl max-w-[300px] md:max-w-[600px] lg:max-w-[800px] font-semibold mb-2 md:mb-6 lg:leading-[64px] mx-auto lg:mx-0"
    >

      Take Your First Steps on the Pregnancy Path
    </h1>

    <p
      class="text-sm md:text-lg lg:text-xl text-[#00000099] font-medium mb-4 md:mb-10 lg:mb-20 max-w-full lg:max-w-[46rem]"
    >

      Pregnancy is a time where a mother is going through a lot of changes and stress, both
      physically and mentally. During such times, it is important that she is kept happy and does
      not worry too much as it can affect the baby and her health too.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 sm:gap-2 justify-center lg:justify-start">
      <button
        class="cursor-pointer hover:brightness-110 hover:shadow-md text-base sm:text-lg md:text-xl font-medium text-white bg-[#B34962] px-4 sm:px-6 md:px-8 py-2 sm:py-3 md:py-3 rounded-3xl transition-all duration-200 hover:shadow-lg"
      >
        Get Started <i class="fa-solid fa-angle-right"></i>
      </button>

      <button
        class="cursor-pointer text-base sm:text-lg md:text-xl font-semibold text-[#B34962] px-4 sm:px-6 md:px-8 py-2 sm:py-3 rounded-3xl border-2 border-[#B34962] lg:border-white shadow-lg lg:shadow-none hover:border-[#B34962] hover:shadow-lg transition-all duration-200"
      >
        Learn More <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </div>

  <!-- Decoration -->
  <div
    class="absolute bg-[#FFEBEF] rounded-full w-[350px] h-[285px] md:w-[550px] md:h-[485px] lg:w-[650px] lg:h-[585px] -top-[150px] -left-[199px] z-[-1]"
  ></div>
</section>
