<section class="px-[16px] lg:px-[100px] xl:h-[calc(100vh-80px)] pt-10 relative overflow-hidden">
  <div class="relative flex flex-col-reverse lg:flex-row justify-between gap-10 lg:gap-0 z-10">
    <div class="max-w-3xl text-center lg:text-left py-30">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-semibold mb-6 leading-[50px] lg:leading-[64px] pt-0 lg:pt-30 xl:pt-0">
        Take Your First Steps on the Pregnancy Path
      </h1>
      <p class="text-lg sm:text-xl text-[#00000099] font-medium mb-8 lg:mb-20 max-w-full lg:max-w-[46rem]">
        Pregnancy is a time where a mother is going through a lot of changes and stress, both
        physically and mentally. During such times, it is important that she is kept happy and does
        not worry too much as it can affect the baby and her health too.
      </p>
      <div class="flex flex-col sm:flex-row gap-4 sm:gap-2 justify-center lg:justify-start">
        <button class="text-lg sm:text-xl font-medium text-white bg-[#B34962] hover:bg-[#9F3F58] px-6 sm:px-8 py-3 rounded-3xl transition-all duration-200 hover:shadow-lg">
          Get Started <i class="fa-solid fa-angle-right"></i>
        </button>
        <button class="text-lg sm:text-xl font-semibold text-[#B34962] px-6 sm:px-8 py-3 rounded-3xl border-2 border-white hover:border-[#B34962] hover:shadow-lg transition-all duration-200 ease-in">
          Learn More <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 right-0 w-full lg:w-auto flex justify-center z-0">
    <img src="assets/pragnant-women-img.png" alt="pragnant-women" class="max-w-full h-auto" />
  </div>

  <div class="absolute bg-[#FFEBEF] rounded-full -top-[300px] -left-[340px] w-[650px] h-[585px] lg:-top-[260px] lg:-left-[299px] xl:-top-[160px] xl:-left-[290px] z-[-1]"></div>
</section>
