<div class="relative overflow-hidden min-h-screen">
  <div class="absolute inset-0 bg-gradient-to-b from-[#FFFFFF] to-[#FFC5D0]"></div>

  <div class="relative py-2">
    <!-- Week Timeline Label -->
    <div class="flex justify-center items-center">
      <svg width="400" height="60" viewBox="0 0 800 100">
        <defs>
          <path
            id="circlePath"
            d="M 100,230
           a 350,350 0 0,1 600,0"
          />
        </defs>

        <text fill="#B04A5A" font-size="50" font-weight="bold">
          <textPath href="#circlePath" startOffset="23%"></textPath>
        </text>
      </svg>
    </div>
    <!-- Timeline Static -->
    <div class="relative flex items-center justify-around">
      <!-- Line between weeks-->
      <div class="absolute top-1/2 left-0 right-0 h-1.5 bg-[#FFC5D0] -translate-y-1/2 z-0"></div>

      <!-- Past 3 weeks -->
      @for (week of pastWeeks; track $index) {
        <ng-container>
          <button
            class="z-10 w-[91px] h-[91px] rounded-full border-3 border-[#B34962] bg-[#FFC5D0] text-white font-bold text-4xl flex items-center justify-center"
          >
            {{ week }}
          </button>
        </ng-container>
      }

      <!-- Current week -->

      <div class="relative flex items-center justify-center">
        <!-- Curved text-->
        <svg class="absolute -top-12" width="400" height="120" viewBox="0 0 800 300">
          <defs>
            <path id="circlePath" d="M 100,150 a 250,250 0 0,1 600,0" />
          </defs>

          <text fill="#B04A5A" font-size="60" font-weight="bold">
            <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
              CURRENT WEEK
            </textPath>
          </text>
        </svg>

        <!-- Current week -->
        <div class="relative z-10 mx-6 w-48 h-48">
          <div
            class="absolute -inset-x-4 -inset-y-4 rounded-full border-2 border-[#B34962] bg-white"
          ></div>
          <div
            class="absolute -inset-x-1.5 -inset-y-3 rounded-full border-2 border-[#B34962]"
          ></div>

          <div
            class="w-48 h-48 rounded-full bg-[#B34962] flex flex-col items-center justify-center text-white relative z-10"
          >
            <span class="text-4xl font-bold pb-3">{{ currentWeek }}</span>
            <span class="text-xl font-bold whitespace-pre-line text-center">{{ babyAge }}</span>
          </div>
        </div>
      </div>

      <!-- Future 3 weeks -->
      @for (week of futureWeeks; track $index) {
        <ng-container>
          <button
            class="z-10 w-[91px] h-[91px] rounded-full border-3 border-[#B34962] bg-[#FFC5D0] text-white font-bold text-4xl flex items-center justify-center"
          >
            {{ week }}
          </button>
        </ng-container>
      }
    </div>

    <!-- Article Cards Section -->
    <div class="px-20 mt-20">
      <div class="relative flex items-center gap-4">
        <!-- Cards -->
        <div class="flex-1 grid grid-cols-3 gap-6 mt-12">
          @for (article of currentArticles; track $index) {
            <div
              [routerLink]="['/baby-care', article.route]"
              class="relative bg-white rounded-lg border border-[#FFC5D0] border-2 shadow-sm hover:shadow-md transition-all overflow-visible relative pt-10 pb-6 px-4 flex flex-col items-center text-center cursor-pointer group h-[280px]"
            >
              <div
                class="absolute top-[-60px] w-48 h-48 rounded-full overflow-hidden border-2 border-[#FFC5D0] shadow-md"
              >
                <img
                  [src]="article.image"
                  [alt]="article.title"
                  class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
                />
              </div>
              <h3 class="font-medium text-3xl max-w-[300px] mt-34 leading-snug">
                {{ article.title }}
              </h3>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
