<div class="date-picker-wrapper">
  <div class="date-picker-container">
    <!-- Date Picker -->
    <ng-container *ngIf="pickerType === 'lastPeriodPlanning' || pickerType === 'lastPeriodPregnancy' || pickerType === 'expectedDate'">
      <div class="column" #dayScroll (scroll)="onScroll('day', dayScroll, days, 'selectedDay')">
        <div class="spacer"></div>
        <div *ngFor="let d of days" class="item" [class.selected]="isSelected('day', d)">
          {{ d }}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #monthScroll (scroll)="onScroll('month', monthScroll, months, 'selectedMonth')">
        <div class="spacer"></div>
        <div *ngFor="let m of months" class="item" [class.selected]="isSelected('month', m)">
          {{ m }}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #yearScroll (scroll)="onScroll('year', yearScroll, years, 'selectedYear')">
        <div class="spacer"></div>
        <div *ngFor="let y of years" class="item" [class.selected]="isSelected('year', y)">
          {{ y }}
        </div>
        <div class="spacer"></div>
      </div>
    </ng-container>

    <!-- Pregnancy Picker -->
    <ng-container *ngIf="pickerType === 'pregnancy'">
      <div class="column" #weekScroll (scroll)="onScroll('week', weekScroll, weeks, 'selectedWeek')">
        <div class="spacer"></div>
        <div *ngFor="let w of weeks" class="item" [class.selected]="isSelected('week', w)">
          {{ w }} <span *ngIf="showLabel">{{ labelWeek }}</span>
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #dayScroll (scroll)="onScroll('day', dayScroll, days, 'selectedDay')">
        <div class="spacer"></div>
        <div *ngFor="let d of days" class="item" [class.selected]="isSelected('day', d)">
          {{ d }} <span *ngIf="showLabel">{{ labelDay }}</span>
        </div>
        <div class="spacer"></div>
      </div>
    </ng-container>

    <!-- Age Picker -->
    <ng-container *ngIf="pickerType === 'age'|| pickerType === 'babyAge'">
      <div class="column" #dayScroll (scroll)="onScroll('day', dayScroll, days, 'selectedDay')">
        <div class="spacer"></div>
        <div *ngFor="let d of days" class="item" [class.selected]="isSelected('day', d)">
          {{ d }}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #monthScroll (scroll)="onScroll('month', monthScroll, months, 'selectedMonth')">
        <div class="spacer"></div>
        <div *ngFor="let m of months" class="item" [class.selected]="isSelected('month', m)">
          {{ m }}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #yearScroll (scroll)="onScroll('year', yearScroll, years, 'selectedYear')">
        <div class="spacer"></div>
        <div *ngFor="let y of years" class="item" [class.selected]="isSelected('year', y)">
          {{ y }}
        </div>
        <div class="spacer"></div>
      </div>
    </ng-container>


    <!-- Time Picker -->
    <ng-container *ngIf="pickerType === 'time'">

      <div class="column" #hourScroll (scroll)="onScroll('hour', hourScroll, hours, 'selectedHour')">
        <div class="spacer"></div>
        <div *ngFor="let h of hours" class="item" [class.selected]="isSelected('hour', h)">
          {{ h }}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #minuteScroll (scroll)="onScroll('minute', minuteScroll, minutes, 'selectedMinute')">
        <div class="spacer"></div>
        <div *ngFor="let m of minutes" class="item" [class.selected]="isSelected('minute', m)">
          {{ m }}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="column" #periodScroll (scroll)="onScroll('period', periodScroll, periods, 'selectedPeriod')">
        <div class="spacer"></div>
        <div *ngFor="let p of periods" class="item" [class.selected]="isSelected('period', p)">
          {{ p }}
        </div>
        <div class="spacer"></div>
      </div>

    </ng-container>

    <div class="highlight-bar"></div>
  </div>
</div>